.dashboard-row{
  /* width: 100%; */
  width: 1060px;
  min-height: 58px;
  padding: 0 52px 0 16px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  border-bottom: 1px solid #E9E7FD;
  color: #23272E;
  font-size: 15px;
  font-weight: 400;
}

.content{
  display: flex;
  justify-content: space-between;
  width: 900px;
  align-items: center;
}

.content> div{
  padding: 13px 10px;
  width: 125px;
}

.id{
  font-weight: 700;
}

.content span{
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 700;
  color: var(--secondary-main);
  background: rgba(40, 199, 111, 0.16);
}

.buttons{
  display: flex;
  gap: 24px;
}

.buttons > button{
  padding: 0;
  margin: 0;
}

.freeze{
  color: #FFC600 !important;
  background: rgba(255, 198, 0, 0.16) !important;
}

.left{
  color: var(--error-main) !important;
  background: rgba(234, 84, 85, 0.16) !important;
}