.loader{
    width: 100%;
    min-height: calc(100vh - 55px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--natural-alpha-6);
    z-index: 100;
}