.dashboard-layout{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    /* background-color: red; */
    padding-left: 100px;
}

.cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--natural-alpha-6);
    z-index: 140;
    display: none;
}

.cover-open{
    display: block;
}

.navbar{
    height: 100%;
    width: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 150;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 80px 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar-open{
    width: 320px;
}


.navbar-profile-info{
    width: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    padding-left: 25px;
    gap: 20px;
}

.navbar .container  > span{
    position: absolute;
    background-color: var(--primary-main);
    width: 28px;
    height: 28px;
    top: 93px;
    left: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 6px 2px rgba(28 , 117 , 253 , 30%);
    cursor: pointer;
    padding-left: 2px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    z-index: 140;
}

.navbar-open .container > span{
    left: 306px;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.navbar-profile-info::after{
    content: '';
    width: 55px;
    height: 1px;
    position: absolute;
    bottom: -25px;
    left: 22px;
    background-color: var(--natural-4);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}


.navbar-profile-info-open::after{
    width: calc(100% - 45px);
}


.navbar-profile-info-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    -webkit-transition: visibility 0.5s, opacity 0.5s linear;
    -moz-transition: visibility 0.5s, opacity 0.5s linear;
    -ms-transition: visibility 0.5s, opacity 0.5s linear;
    -o-transition: visibility 0.5s, opacity 0.5s linear;
}

.navbar-profile-info-name-open{
    opacity: 1;
    visibility: visible;
}

.navbar-profile-info-name span{
    font-size: 15px;
    font-weight: 600;
    color: var(--natural-4);
    text-transform: capitalize;
}

.navbar-profile-info-name p{
    padding: 0;
    margin: 0;
    font-size: 21px;
    font-weight: 600;
    color: #5F6388;
}


.navbar-list{
    height: 100%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.navbar-list-item{
    width: 320px;
    padding: 0 20px;
}

.navbar-link{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    gap: 15px;
    padding-left: 20px;
    position: relative;
    /* color: #5F6388; */
    color: rgba(95, 99, 136, 80%);
}

.navbar-link-background{
    color: var(--primary-white);
}

.navbar-link-background::before{
    content: '';
    z-index: -1;
    position: absolute;
    width: 46px;
    height: 45px;
    top: 0;
    left: 7px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    background-color: var(--primary-main);
}

.navbar-link-background-open::before{
    width: 250px;
}

.navbar-link-title{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    -webkit-transition: visibility 0.5s, opacity 0.5s linear;
    -moz-transition: visibility 0.5s, opacity 0.5s linear;
    -ms-transition: visibility 0.5s, opacity 0.5s linear;
    -o-transition: visibility 0.5s, opacity 0.5s linear;
}

.navbar-link-title-open{
    opacity: 1;
    visibility: visible;
}

.navbar-link svg{
    width: 20px;
    height: 20px;
}