.input-field{
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.label{
  color: var(--natural-alpha-2);
  font-weight: 500;
  font-size: 14px; 
}

.input{
  border: 1px solid var(--natural-alpha-2);
  width: 333px;
  height: 45px;
  color: var(--natural-alpha-2);
  outline: none;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.input:focus{
  color: var(--primary-main);
  border-color: var(--primary-main);
  background-color: #FCF2FF;
}

.input:focus + .label{
  color: var(--primary-main);
}

.input:read-only {
  border-color: var(--natural-alpha-4);
  color: var(--natural-alpha-4);
}

.input:read-only + .label{
  color: var(--natural-alpha-4);
}

input::placeholder {
  color: var(--natural-alpha-3);
  font-weight: 300;
} 

.input:read-only::placeholder{
  color: var(--natural-alpha-4);
}

.error{
  color: red;
  font-weight: 400;
  font-size: 14px;
  margin-top: 2px;
}