.task-details{
  width: 445px;
  min-height: 495px;
  background-color: white;
  border-radius: 9px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.task-details .title{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.task-details .title h2{ 
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  color: var(--primary-dark);
  margin-bottom: 26px;
  text-transform: capitalize;
}

.members{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
  color: var(--primary-dark); 
  margin-bottom: 25px;
}

.members .for ,
.members .Assigned{
  display: flex;
  gap: 12px;
  align-items: center;
}

.members .name{
  display: flex;
  align-items: center;
  border-radius: 24px;
  gap: 7px;
  background-color: #F9F8F8;
  width: 110px;
  height: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  text-transform: capitalize;
}

.info{
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 25px;
}

.info .status{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-dark);
  width: 70px;
  height: 22px;
  color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 12px;
}

.info .date{
  border: 1px solid var(--natural-alpha-6);
  width: 90px;
  height: 22px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  color: var(--primary-dark);
}

.info .complex{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: capitalize;
  width: 60px;
  height: 22px;
  font-weight: 500;
  font-size: 12px;
}

.link{
  display: block;
  background: #F9F8F8;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  color: var(--natural-4);
  padding: 5px 10px;
  margin-bottom: 20px;
}

.description{
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;  
  color: var(--natural-4);
  margin-bottom: 16px;
  flex: 1;
}

.comments{
  width: 400px;
  min-height: 190px;  
  max-height: 220px;
  background: #FCF6FF;
  border-radius: 6px;
  padding: 12px 10px;
  padding-bottom: 0px;
  color: var(--natural-4);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.comments .comments-box{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
}

.comments .comment{
  display: flex;
  border-radius: 6px;
  background-color: white;
  gap: 10px;
  padding: 8px;
}

.comments form{
  display: flex;
  justify-content: space-between;
  position: relative;
  font-weight: 500;
}

.comments form div:first-child{
  margin-bottom: 0;
}

.comments form input:first-child{
  outline: none;
  padding: 10px 12px;
  margin: 0;
  font-size: 12px;
}

.comments form .send{
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.comments form .send input{
  padding: 0;
  color: transparent;
  background-color: transparent;
  z-index: 3;
  position: relative;
}

.comments form .send .send-icon{
  position: absolute;
  top: 20px;
  right: 20px;
}

.comments form .send:hover path{
  color: var(--primary-main);
}