@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
  /* primary */
  --primary-main: #9900CC;
  --primary-dark: #4E1960;
  --primary-light: #D24CFF;
  --primary-white: #F8E8FF;

  /*secondary*/
  --secondary-main: #66CCCC;
  --secondary-dark: #005757;
  --secondary-light: #8DEBEB;
  --secondary-white: #E7F5F5;

  /* natural */
  --natural-1: rgba(70, 52, 75, 1);
  --natural-2: rgba(107, 93, 111, 1);
  --natural-3: rgba(126, 113, 129, 1);
  --natural-4: rgba(163, 153, 165, 1);
  --natural-5: rgba(181, 174, 183, 1);
  --natural-6: rgba(199, 194, 201, 1);
  --natural-7: rgba(199, 194, 201, 1);
  --natural-8: rgba(246, 245, 246, 1);

  /* natural alpha */
  --natural-alpha-1: rgba(70, 52, 75, 1);
  --natural-alpha-2: rgba(70, 52, 75, 0.8);
  --natural-alpha-3: rgba(70, 52, 75, 0.7);
  --natural-alpha-4: rgba(70, 52, 75, 0.5);
  --natural-alpha-5: rgba(70, 52, 75, 0.4);
  --natural-alpha-6: rgba(70, 52, 75, 0.3);
  --natural-alpha-7: rgba(70, 52, 75, 0.1);
  --natural-alpha-8: rgba(70, 52, 75, 0.05);

	/* background color */
	--background-color: #FCF6FF;

  /* error */
  --error-main: rgba(234, 84, 85, 1);
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}