.volunteer-page{
  width: 100%;
  height: calc(100vh - 55px);
  overflow: auto;
  background-color: var(--background-color);
  /* background-color: red; */
  padding: 40px;
}

.volunteers-title{
  margin: 0;
  color: var(--word-color);
  margin-bottom: 30px;
}

.filter-bar{
display: flex;
  /* justify-content: space-between; */
  margin-bottom: 20px;
  gap: 24px;
}

.filter-bar > div label,
.filter-bar > div span{
  display: none;
}

.filter-bar > button{
  margin: 0;
  display: flex;
  padding: 11px 14px;
  align-items: center;
  justify-content: center;
}

.reset{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 9px;
  width: 60px;
  height: 30px;
  background-color: var(--natural-alpha-7);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  font-size: 14px;
  margin-bottom: 15px;
}

.reset:hover{
background-color: var(--error-main);
  color: white;
}
