.confirm-recruitment{
  width: 500px;
  height: 310px;
  background-color: white;
  padding: 24px;
  position: relative;
}

.confirm-recruitment-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.confirm-recruitment-header h2{
  margin: 0;
  padding: 0;
  color: var(--word-color);
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.confirm-recruitment-body{
  display: flex;
  flex-direction: column;
  gap: 5px;
} 

.box{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.box > div label{
  display: none;
}

.buttons{
  display: flex;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.email{
  position: absolute;
  bottom: 24px;
  left: 120px;
}

.email button{
  margin: 0;
  justify-content: space-evenly !important;
}